instancedetails:
    - instance_name: {{ instance_name }}
    - instance_ocid: {{ instance_ocid }}
    - bastion_ocid: {{ bastion_ocid }}
    - private_ip: {{ instance_details.instance.primary_private_ip }}
    - region: {{ region }}
    - SSH_AUTHORIZED_KEYS: {{ SSH_AUTHORIZED_KEYS }}